
div#arc-maze {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

div#arc-maze > * {
  width: calc(100% / 24);
  height: calc(100% / 24);
  box-sizing: border-box;
  transition: all 1s linear;
  transform: scale(0.8);
}

.right {
  background-color: #2E3440;
  border-top-left-radius: 100%;
}

.left {
  background-color: #7F8696;
  border-bottom-right-radius: 100%;
}

.down {
  background-color: #434C5E;
  border-top-right-radius: 100%;
}

.up {
  background-color: #4C566A;
  border-bottom-left-radius: 100%;
}